@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf);
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5c37;
    --cor5: #063d1e;
    --fonte0: Verdana, Tahoma, sans-serif;
    --fonte2: 'Bebas Neue', cursive;
    --fonte3: 'Android', sans-serif
}
header {
    background-image: linear-gradient(0deg, var(--cor4), var(--cor1));
}

body {
    min-width: 400px;
    max-width: 800px;
    text-align: center;
    font-family: var(--fonte0);
    color: var(--cor0);
    background-color: var(--cor1);
    padding: 10px, 10px;
    margin: auto;
        }
   p.titulo {
    text-align: center;
    color: var(--cor0)
      }
a.link {
    color: var(--cor4);
    font-weight: bold;
    text-decoration: none;
    }
    a.link:hover {
        text-decoration: underline;
    }
a.link2 {
    color: var(--cor4);
    font-weight: bold;
    text-decoration: none;
    }
    a.link2:hover {
        text-decoration: underline;
    }
nav{ 
    text-align: left;
    height: 30px;
}
a.nav {
    text-align: left;
    font-weight: bold;
    color: var(--cor0);
    text-decoration: none;
    padding: 0px 10px 10px 40px;
}
div.box {
    background-color: aliceblue;
    min-width: 400px;
    max-width: 800px; 
    margin: auto;
    padding: 10px 20px;
    box-shadow: 2px 0px 2px black;
}
main { 
    line-height: 1.4em;
       
}
h1 {
    font-family: var(--fonte0);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.733);  /* texto que não tá pegando sombra */
}
h2{
    text-indent: 20px;
    font-family: var(--fonte3);
    color: var(--cor4);
    text-align: justify;
}
h3 {
    text-indent: 20px;
    font-family: var(--fonte3);
    color: var(--cor4);
    text-align: justify;
    background-image: linear-gradient(90deg, #9beb9f, aliceblue);
}
p {
    text-align: justify;
    text-indent: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    color: black;
}
img {
    min-width: 400px;
    max-width: 700px; 
    }
ul {
    font-weight: bold;
    text-align: justify;
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    color: black
}
div.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor1);
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    padding: 10px 10px;
    border-radius: 10px;
}
h4 {
    
    background-color: var(--cor3);
    text-align: justify;
    }

